<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-08-22 14:44:21
 * @LastEditTime: 2019-08-22 21:20:10
 * @LastEditors: Please set LastEditors
 -->
<%- include ../public/header.ejs%>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">

            <%- include ../public/aslideleft.ejs%>
          
        </div>
        <div class="col-sm-10">
          
            <div class="panel panel-default">
               
                <div class="panel-body">
                    <form style="overflow:hidden" action="/admin/items/find" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                        <div class="col-sm-4">
                            <input class="form-control" type="text" id="name" name="Name" placeholder="请输入名称"/>
                            </div>
                            <div class="col-sm-4">
                            <button type="submit" class="btn btn-default">开始搜索</button>
                            </div>
                            <div class="col-sm-4">                           
                                
                            </div>
                        </div>
                    </form>
                    <ul class="pagination">
                        <li><a href="/admin/items/findByPage?p=1">1</a></li>
                        <li><a href="/admin/items/findByPage?p=2">2</a></li>
                        <li><a href="/admin/items/findByPage?p=3">3</a></li>
                        <li><a href="/admin/items/findByPage?p=4">4</a></li>
                    </ul>
                </div>
            </div>
            <!--
                列表展示
            -->
            <div class="table-responsive">
                    <table class="table table-striped the_item">
                            <thead>
                            <tr>
                                <th>编码</th>
                                <th>名称</th>
                                <th>price</th>
                                <th>description</th>
                                <th>imgUrl</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody style="height: 333px;overflow:hidden;">
        
                        <% for(var i=0;i<list.length;i++){%>
                             <tr>
                                <td><%=list[i].id%></td>
                                <td><%=list[i].title%></td>
                                <td><%=list[i].price%></td>
                                <td><%=list[i].description%></td>
                                <td>
                                <img src="<%=list[i].imgUrl%>" />
                                
                                </td>
        
                                <td class="text-center operationTD">
        
                                    <a href="/admin/items/edit?id=<%=list[i].id%>" class="btn btn-success">修改</a>
                                    <a href="/admin/items/delete?id=<%=list[i].id%>" class="btn btn-danger">删除</a>
        
                               </td>
                            </tr>
                            <%}%>
        
                            </tbody>
                        </table>
            </div>

        </div>
    </div>
</div>

</body>
</html>